{% macro render_field(field) %}
<div class='row' style="margin-bottom: 10px;">
  <div class='form-group'>
    {{field.label(class='col-md-2 control-label')}}
    <div class='col-md-4'>
      {{field(class='form-control', **kwargs)|safe}}
    </div>
    {% for messages in field.errors %}
      <div>{{messages}}</div>
    {% endfor %}
  </div>
</div>
{% endmacro %}