{% from "macros/inventory_macro.html" import render_field %}
{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<div id='addInventory'></div>
<script type="text/babel" src="{{url_for('static', filename='js/jsx/add_inventory.jsx')}}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		  $(".nav li").removeClass("active");
		  $('#Add').addClass('active');
	});
</script>
{% endblock %}