{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<div id='cart'></div>
<script type="text/javascript">
	var Cart;
</script>
<script type="text/babel" src="{{url_for('static', filename='js/jsx/cart.jsx')}}"></script>
<script type="text/babel">

	var RenderCart = React.createClass({
		getInitialState: function(){
			return{
				cart: []
			}
		},
		componentDidMount: function(){
			$.ajax({
				url: '/cart',
				type: 'POST',
				success: function(reply){
					this.setState({cart: JSON.parse(reply)});
				}.bind(this),
				error: function(error){
					alert('Something went wrong while fetching cart.')
				}
			});
		},
		render: function(){
			return (
				<Cart cart={this.state.cart}/>
			)
			
		}
	});
	ReactDOM.render(<RenderCart />, document.getElementById('cart'))

	$(document).ready(function () {
		  $(".nav li").removeClass("active");
		  $('#Cart').addClass('active');
	});
</script>
{% endblock %}